body {
    background-color: teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: center;
    padding-top:100px;
}

button {
    background-color:cadetblue;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}